<div class="container">

  <div class="row">
    <div class="centrar row">
      <div class="centrar">
        <button class="btn btn-secondary col-sm-3" disabled *ngIf="this.gano == false && this.perdio == false">Resultado:</button>
        <button class="btn btn-success col-sm-3" disabled *ngIf="this.gano">Ganaste</button>
        <button class="btn btn-danger col-sm-3" disabled *ngIf="this.perdio">Perdiste</button>
      </div>

      <div class="centrar">
          <img class="animacion" src="{{this.img}}">
      </div>

      <div class="centrar">
          <button class="btn btn-secondary m-5" (click)="this.menor()">< Será menor </button>
          <button class="btn btn-primary m-5" (click)="this.mayor()">Será mayor > </button>
      </div>
    </div>
  </div>
</div>


