<ng-container *ngIf="this.listaGenerica">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th *ngFor="let item of this.listaGenerica[0] | keyvalue">
        <ng-container *ngIf="item.key != 'id' ">
          {{item.key}}
        </ng-container></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of this.listaGenerica ">
        <td *ngFor="let item of prod | keyvalue">
          <ng-container *ngIf="item.key != 'id' ">
            {{item.value}}
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
